.easyMinesweeper{
    width: 600px;
    margin: 0px;
}

.easyBoard{
    margin-top: 10px;
    border: 1px outset #eee;
	width: 850px!important;
    height: 850px!important;
    border: none;
}

.easyfield{
	width: 80px;
	height: 80px;
	border: 1px inset #666;
	float:left;
	
	text-align: center;
	cursor: pointer;
	line-height: 50px;
	
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
} 
    .easyfield:hover {
        margin-top: -1px;
    }

.easyfield.hidden.flag { 
    background: #eee url('/images/flag.png') center no-repeat !important; 
}

.easyfield.hidden.flag > span { 
    display: none; 
}

.easyfield.mine { 
    background: url('/images/red_mine.png') center no-repeat; 
    background-color: red;
}

.easyfield.mine > span { 
    display: none; 
}

.easyfield.hidden
{
    background-image:none ;
    background-color: #eee ;
	color: #eee !important;
}

.easyfield.hidden > span { display: none !important; }

.clear { clear: both; }

.empty {
    background-color: #b200ff;
}


span {
    line-height: 50px;
    font-size: 36pt!important;
}

span, button, img {
    font-size: 25pt;
    margin: 5px;
    display: block;
}

.placeBorder {
	padding: 14px 20px 20px 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	background: -moz-linear-gradient(top, #010101, #181818);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #010101),color-stop(1, #181818));
	
	border: 2px solid #454545; 
	overflow: hidden; 
	
	-webkit-user-select: none;
}

button {
    width: 100%;
}

textarea {
    width: 95%;
    height: 300px;
}

body {
    color: white; 
    font-family:'Comic Sans MS';
    border:solid 0px white;
}

#gridContainer {
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    height: 100%;
    width: 100%;
    font-size: 40pt;
    overflow-y: scroll;
}

    #bodyContainer {
        -ms-grid-row: 1;
        -ms-grid-column: 1;  
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 3fr 7fr;
        height: 100%;
        width: 100%;
        font-size: 40pt;
    }

        #gameHeader {
            -ms-grid-row: 1;
            -ms-grid-column: 1;     
            display: -ms-grid;
            -ms-grid-rows: 1fr 2fr 2fr 4fr;
            -ms-grid-columns: 1fr;
            height: 90%!important;
        }
            #gameTitle {
                -ms-grid-row: 1;
                -ms-grid-column: 1;
            }
            #algoBox {
                -ms-grid-row: 2;
                -ms-grid-column: 1;
            }
                #algoBox > button {
                    height: 90%;
                }
            #currentEasyHighScoreWrapper {
                -ms-grid-row: 3;
                -ms-grid-column: 1;
                font-size: 28pt !important;
            }

            #paletteContainer {
                -ms-grid-row: 4;
                -ms-grid-column: 1;
                display: -ms-grid;
                -ms-grid-rows: 1fr;
                -ms-grid-columns: 1fr;
                height: 100%;
            }
                #palette {
                    -ms-grid-row: 1;
                    -ms-grid-column: 1;
                    font-size: 28pt !important;
                }

        #gameBody {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
            display: -ms-grid;
            -ms-grid-rows: 1fr;
            -ms-grid-columns:1fr;
            height: 100%;
            margin-left: 10px;
        }

            #gameContainer {
                -ms-grid-row: 1;
                -ms-grid-column: 1;
                display: -ms-grid;
                -ms-grid-rows: 1fr 4fr 1fr;
                -ms-grid-columns: 1fr;
                width: auto;
                height: auto;
            }
                #boardHeader {
                    -ms-grid-row: 1;
                    -ms-grid-column: 1;
                    display: -ms-grid;
                    -ms-grid-rows: 1fr;
                    -ms-grid-columns: 1fr 1fr;
                }
                    #headerLeft {
                        -ms-grid-row: 1;
                        -ms-grid-column: 1;
                        display: -ms-grid;
                        -ms-grid-rows: 1fr;
                        -ms-grid-columns: 1fr 1fr;
                    }
                        #timerImg {
                            -ms-grid-row: 1;
                            -ms-grid-column: 1;
                        }
                        #timer {
                            -ms-grid-row: 1;
                            -ms-grid-column: 2;
                        }
                    #headerRight {
                        -ms-grid-row: 1;
                        -ms-grid-column: 2;
                        display: -ms-grid;
                        -ms-grid-rows: 1fr;
                        -ms-grid-columns: 1fr 1fr;
                    }
                        #mineCounterImg {
                            -ms-grid-row: 1;
                            -ms-grid-column: 1;
                        }
                        #mineCounter {
                            -ms-grid-row: 1;
                            -ms-grid-column: 2;
                        }

                #board {
                    -ms-grid-row: 2;
                    -ms-grid-column: 1;
                    width: 850px!important;
                    height: 850px!important;
                    border: none;
                }
                    .field {
                        width: 80px!important;
                        height: 80px!important;
                    }

                    .easyBoard > div {
                        margin: 1px;
                        border-radius: 5px;
                    }

                #newGame {
                    -ms-grid-row: 3;
                    -ms-grid-column: 1;
                }

.emptyPalette,
    .hiddenPalette,
        .numberPalette{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
    .emptyPalette:hover,
        .hiddenPalette:hover,
            .numberPalette:hover{
        border:solid 1px white;
    }
