<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="6a0e6b24-5d83-4f9e-a080-28089058a024" Version="1.0.0.0" Publisher="CN=ILKEN" />
  <Properties>
    <DisplayName>Minechester</DisplayName>
    <PublisherDisplayName>ILKEN</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Minechester" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Minechester" ForegroundText="light" BackgroundColor="#6E3097">
        <DefaultTile ShowName="allLogos" WideLogo="images\WideLogo.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#6E3097" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>