.placeBorder {
	padding: 14px 20px 20px 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	background: -moz-linear-gradient(top, #010101, #181818);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #010101),color-stop(1, #181818));
	
	border: 2px solid #454545; 
	overflow: hidden; 
	
	-webkit-user-select: none;
}
#aContainer th {
    font-size:48px!important;
}
#aContainer td {
    margin: 5px;
    font-size:60px!important;
    text-align:center; 
    vertical-align:middle;
    padding-top:20%;
}

#aContainer {
    display: -ms-grid;
    -ms-grid-rows: 1fr 9fr;
    -ms-grid-columns: 1fr;
    height: 100%;
    width: 100%;
    font-size: 20pt;
}
    #aContainer > div {
        margin-top: 20px;
    }
    #achievementTitle {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        margin: 10px;
        font-size: 32pt!important;
    }
    #achievementContainer {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        display: -ms-grid;
        -ms-grid-rows: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
    }
        #achievementContainer > div {
            margin: 10px;
        }
        #firstMoveMine {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            height: 90%;
            background-color: #459f48;
        }
        #playHundredGames {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
            height: 90%;
            background-color: #ffd800;
        }
        #flagHundredMines {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
            height: 90%;
            background-color: #ff6a00;
        }
        #beatAI {
            -ms-grid-row: 1;
            -ms-grid-column: 4;
            height: 90%;
            background-color: #f00;
        }
        #win100EasyGames {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            height: 90%;
            background-color: #459f48;
        }
        #win100MediumGames {
            -ms-grid-row: 2;
            -ms-grid-column: 2;
            height: 90%;
            background-color: #ffd800;
        }
        #win100ProGames {
            -ms-grid-row: 2;
            -ms-grid-column: 3;
            height: 90%;
            background-color: #ff6a00;
        }
        #play100MultiplayerGames {
            -ms-grid-row: 2;
            -ms-grid-column: 4;
            height: 90%;
            background-color: #f00;
        }