.placeBorder {
	padding: 14px 20px 20px 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	background: -moz-linear-gradient(top, #010101, #181818);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #010101),color-stop(1, #181818));
	
	border: 2px solid #454545; 
	overflow: hidden; 
	
	-webkit-user-select: none;
}
.scoreTableHeader {
    font-size:40pt!important;
}
.scoreTableColumn {
    margin: 5px;
    font-size: 32pt!important;
}

#gContainer {
    display: -ms-grid;
    -ms-grid-rows: 1fr 5fr 5fr;
    -ms-grid-columns: 1fr;
    height: 100%;
    width: 100%;
}
    #gContainer > div {
        margin-top: 20px;
    }
    #scoreTitle {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        margin: 10px;
        font-size: 46pt!important;
    }
    #scoreContainer {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
    }
        #scoreContainer > div {
            margin: 10px;
        }
        #easy {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            height: 90%;
            background-color: #459f48;
        }
        #medium {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
            height: 90%;
            background-color: #ffd800;
        }
        #pro {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
            height: 90%;
            background-color: #ff6a00;
        }
        #multiplayer {
            -ms-grid-row: 1;
            -ms-grid-column: 4;
            height: 90%;
            background-color: #f00;
        }
    #AIScoreContainer {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
    }
        #AIScoreContainer > div {
            margin: 10px;
        }
        #AIEasy {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            height: 90%;
            background-color: #459f48;
        }
        #AIMedium {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
            height: 90%;
            background-color: #ffd800;
        }
        #AIPro {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
            height: 90%;
            background-color: #ff6a00;
        }
        #hexagonal {
            -ms-grid-row: 1;
            -ms-grid-column: 4;
            height: 90%;
            background-color: #f00;
        }